{{> layouts/layout}}

<div class="ui container">
  <h2 class="ui header">Sales Report</h2>
  <table class="ui celled table">
    <thead>
      <tr>
        <th>Product Name</th>
        <th>Units Sold</th>
        <th>Total Sales</th>
      </tr>
    </thead>
    <tbody>
      {{#products}}
      <tr>
        <td>{{name}}</td>
        <td>{{unitsSold}}</td>
        <td>{{totalSales}}</td>
      </tr>
      {{/products}}
    </tbody>
  </table>
</div>
