<header>
    <div class="ui menu">
        <a href="/" class="header item">Restaurant Management System</a>
        <a href="/" class="item">Home</a>
       <!-- {{#isAdmin}}
        <a href="/admin/admindashboard" class="item">Admin Dashboard</a>
        {{/isAdmin}}
        {{^isAdmin}}
        <a href="/user/userdashboard" class="item">User Dashboard</a>
        {{/isAdmin}}  -->
        <div class="right menu">
            <a href="/auth/logout" class="item">Logout</a>
        </div>
    </div>
</header>
